div.main-content{
    /*margin-left: 16.8%;*/
    height: 100vh;
    overflow-y: auto;
    background-color: #F5F5F5;
}
div.offcanvas-backdrop.show{
    opacity: 0;
}
span.user-initials-text{
    vertical-align: middle;
}