div.offcanvas-backdrop{
    background-color: #f5f5f5;
}

div.sidebar.offcanvas{
    background-color: #D9D9D9;
    width: 16.8%;
    top: 0;
    left: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: none;
}

div.user-initials{
    width: 83px;
    height: 83px;
    text-transform: uppercase;
    background-color: #454545;
    border-radius: 50%;
    font-size: 45px;
    font-weight: bold;
    margin: 0 auto;
}

span.power-settings-icon{
    font-size: 70px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.offcanvas-title{
    margin: 0 auto;
}

.sidebar-item{
    width: 82%;
    height: 60px;
    margin: 0 auto;
    background-color: #828282;
    color: #FFF;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    text-decoration: none;
}

span.sidebar-item-text{
    margin-left: 5px;
}

.sidebar-item-icon{
    margin-left: 10px;
}